@import url('../../assets/css/settings.css');

.header__items {
    max-width: 1148px;
    margin: auto;
    margin-top: 30px;
}

.search {
    max-width: 1148px;
    margin: auto;
    margin-top: 27px;
}

.auth__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth__items-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.auth__items-item-logo-href {
    text-decoration: none;
    color: #0A143A;
    display: flex;
    gap: 6px;
    align-items: center;
}

.auth__items-item-logo-text {
    font-size: 24px;
    font-family: 'Roboto Bold';
    text-decoration: none;
}

.auth__items-item-list ul {
    display: flex;
    gap: 14px;
}

.auth__items-item-list li {
    list-style-type: none;
    font-size: 14px;
}

.auth__items-buttons {
    font-size: 14px;
    display: flex;
    gap: 25px;
}

.buttons-apply a {
    padding: 10px 15px;
    background-color: #256EEB;
    border-radius: 5px;
    color: #fff;
    transition: .3s;
}

.buttons-apply a:hover {
    background-color: rgb(24, 86, 193);
}

.search__form {
    background-color: #256EEB;
    border-radius: 5px;
}

.search__form form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__form {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__form-field {
    width: 100%;
    height: 100%;
}

.search__form-field input {
    padding: 14px 21px;
    width: 100%;
    height: 50px;
    left: 3px;
    top: 3px;
    border-radius: 5px;
    border: 3px solid #256EEB;
    font-size: 14px;
}

.search__form-field input::placeholder {
    color: #0A143A;
    opacity: .4;
}

.search__form-button {
    background-color: #256EEB;
    z-index: 1;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
}

.search__form-button button {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 1;
}

.advertisements {
    max-width: 1148px;
    margin: auto;
    margin-top: 42px;
}

.advertisement {
    max-width: 264px;
    width: 100%;
}

.advertisements__items-blocks {
    display: flex;
    gap: 30px;
}

.advertisement__items-title {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}

.advertisements__items-title h1 {
    font-family: 'Roboto Bold';
    font-size: 24px;
    margin-bottom: 25px;
    color: #0A143A;
}

.advertisement__img {
    max-height: 178px;
    height: 100%;
}

.advertisement__items {
    margin-top: 12px;
}

.advertisement__items-title-link {
    font-family: 'Roboto Bold';
    font-size: 16px;
    color: #256EEB;
    max-width: 224px;
    width: 100%;
}

.advertisement__items-title img {
    margin-right: 3px;
    margin-top: 2px;
}

.advertisement__items-title .active {
    fill: #256EEB;
}

.advertisement__items-price {
    margin-top: 5px;
}

.advertisement__items-price p {
    font-size: 16px;
    font-family: 'Roboto Bold';
    color: #0A143A;
}

.advertisement__items-address {
    margin-top: 10px;
}

.advertisement__items-address p, .advertisement__items-date p {
    font-size: 14px;
    color: #C4C4C4;
    line-height: 16px;
}

.advertisement__items-date {
    margin-top: 4px;
}

.advertisement__positions {
    max-width: 852px;
    width: 100%;
}

.advertisements-items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: -20px;
}

/* .advertisements-items-item:not(:last-child) {
    margin-right: 30px;
}

.advertisements-items-item:nth-child(n + 4) {
    margin-top: 20px;
} */

.advertisements-items-item {
    margin-bottom: 20px;
}

.service__title h1 {
    color: #0A143A;
    font-size: 18px;
    font-family: 'Roboto Bold';
}

.service__list {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.service__list-item-title {
    margin-top: 7px;
}

.service__list-item-title h1 {
    font-size: 14px;
    color: #0A143A;
}

.service__list-item-desc {
    margin-top: 5px;
}

.service__list-item-desc p {
    font-size: 14px;
    color: #0A143A;
}

.advertisement__service {
    max-width: 231px;
    width: 100%;
    margin-top: 9px;
}

.footer {
    margin-top: 37px;
    border-top: 1px solid #E5E5E5;
    padding-top: 18px;
}

.footer__items-text p {
    color: #C4C4C4;
    font-size: 14px;
}

.footer__items-text a {
    color: #C4C4C4;
    font-size: 14px;
    text-decoration: underline;
    line-height: 16px;
    margin-top: 5px;
    display: block;
    width: fit-content;
}

.footer__items-help {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__items-help a {
    font-size: 12px;
}

.service__list-item-img {
    height: 30px;
}